<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style type="text/css">
        .container {
            margin-right: auto;
            margin-left: auto
        }

        div.box {
            width: 150px;
            display: inline-block;
        }
    </style>
    <title>Ação corretiva</title>
</head>

<body>
    <div ng-app="App">
        <div class="container" ng-controller="AppController">
            <br>
            <!-- ng-submit="submit()" -->
            <form>
                <div>
                    <label for="">Responsável ({{respid}})</label>
                    <input class="form-control" type="text" disabled="true" id="resp-id" ng-model="respnome">
                </div>
                <div>
                    <label for="">Captador</label>
                    <select class="form-control" ng-model="captid" ng-options="func.Id as func.Nome for func in funcs"
                        id="capt-id">
                        <option value="">Selecione um funcionário</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Detecção</label>
                    <!-- Datepicker as text field -->
                    <div class="input-group date" data-date-format="dd/mm/yyyy" id="deteccao-id">
                        <input type="text" class="form-control" placeholder="dd/mm/yyyy" ng-model="deteccao">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="">Referência</label>
                    <input class="form-control" type="text" id="referencia-id" ng-model="referencia" maxlength="7">
                </div>

                <div>
                    <label for="">Imagens</label>
                    <input class="form-control" type="text" placeholder="Informe uma legenda e cole sua imagem aqui"
                        ng-model="legenda" id="clipbrd">
                </div>

                <br />
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block" ng-click="submit()"
                            ng-disabled="!captid || !deteccao || !referencia || (imagens.length === 0)">ENVIAR</button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-warning btn-block" ng-click="limpar()">LIMPAR</button>
                    </div>
                </div>

                <br />

                <div class="box" ng-repeat="img in imagens">
                    <h5>
                        <center>{{img.legenda}}</center>
                    </h5>
                    <img src=data:image/png;base64,{{img.imagem}} height="160" width="160" />
                    <button class="btn btn-danger btn-block" ng-click="clickImage(img)">Excluir</button>

                </div>

            </form>
            
        </div><!-- end AppController -->
    </div><!-- end App -->

    <script>
        angular.module("App", []).controller("AppController", function ($scope, $http) {

            $scope.formatDate = function (data, formato) {
                if (formato == 'pt-br') {
                    return (data.substr(0, 10).split('-').reverse().join('/'));
                } else {
                    return (data.substr(0, 10).split('/').reverse().join('-'));
                }
            };

            $scope.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results == null) {
                    return null;
                }
                return decodeURI(results[1]) || 0;
            }

            $scope.dataAtualFormatada = function () {
                var data = new Date();
                var dia = data.getDate();
                if (dia.toString().length == 1)
                    dia = "0" + dia;
                var mes = data.getMonth() + 1;
                if (mes.toString().length == 1)
                    mes = "0" + mes;
                var ano = data.getFullYear();
                return dia + "/" + mes + "/" + ano;
            };

            $scope.urlraiz = 'http://prolab.zapto.org:8082/rest/';
            $scope.urlfunc = $scope.urlraiz + 'prolab/func?' + "$filter=Desativado eq 'F' and Interno eq 0&$orderby=Nome";
            $scope.urlcfg = $scope.urlraiz + 'prolab/configs3';

            $scope.clickImage = function (image) {
                var r = confirm("Confirma exclusão da imagem?");
                if (r == true) {
                    var index = $scope.imagens.indexOf(image);
                    if (index > -1) {
                        $scope.imagens.splice(index, 1);
                    }
                }
            };

            $scope.limpar = function () {
                $scope.captid = null;
                $scope.deteccao = $scope.dataAtualFormatada();
                $scope.referencia = null;
                $scope.imagens = [];
                $scope.legenda = null;
                $scope.tipoimg = null;
            };
            $scope.limpar();

            var loadFuncs = function () {
                $http({
                    method: 'GET', url: $scope.urlfunc
                }).then(function onSucess(response) {
                    $scope.funcs = response.data.value;
                    $scope.respid = +$scope.urlParam('fid');
                    $scope.respnome = $scope.funcs.filter((value) => {
                        if (value.Id === $scope.respid) return value;
                    });
                    $scope.respnome = $scope.respnome[0].Nome;
                }).catch(function onError(response) {
                    console.log(response);
                    $scope.result = response.data;
                    alert('Erro ao carregar funcionários');
                });
            };
            loadFuncs();

            $scope.addfile = function (imagens) {
                $http({
                    method: 'GET', url: $scope.urlcfg
                }).then(function onSucess(response) {
                    console.log(imagens);
                }).catch(function onError(response) {
                    console.log(imagens);
                });

            }

            $scope.submit = function () {

                var AcaoCorretiva = {
                    responsavel: $scope.respid,
                    captador: $scope.captid,
                    deteccao: $scope.formatDate($scope.deteccao),
                    referencia: $scope.referencia,
                    imagens: $scope.imagens
                };

                //console.log(AcaoCorretiva);

                var r = confirm("Confirma?");
                if (r == true) {

                    //$scope.endereco + 'FuncTemp'
                    var urlpost = $scope.urlraiz + 'prolab/misc/AcaoCorretiva';

                    $http({
                        method: 'POST',
                        url: urlpost,
                        headers: { 'Content-Type': 'application/json' },
                        data: AcaoCorretiva
                    }).then(function onSucess(response) {
                        if (response.data.status === true) {
                            $scope.limpar();
                        };
                        alert(response.data.msg);
                    }).catch(function onError(response) {
                        console.log(response);
                        alert('Erro ao enviar dados!');
                    });
                };
            };

            $scope.reader = new FileReader();

            $scope.reader.onload = function (result) {
                var b64 = result.target.result.replace(/^data:.+;base64,/, '');
                $scope.imagens.push({ 'imagem': b64, 'legenda': $scope.legenda, 'tipo': $scope.tipoimg });
                //$scope.imagens.push({ 'imagem': result.target.result, 'legenda': $scope.legenda });
                //document.body.appendChild(img);
                //console.log($scope.imagens[0]);
                $scope.addfile($scope.imagens);
                $scope.legenda = null;
                //console.log($scope.imagens);

            }
            document.getElementById('clipbrd').onpaste = function (event) {
                //document.querySelector(".example").onpaste = function (event) {

                let items = event.clipboardData.items;

                for (itemIndex in items) {
                    let item = items[itemIndex];

                    if (item.kind == 'file') {
                        //console.log(item.getAsFile());
                        //$scope.reader.readAsDataURL(item.getAsFile());
                        var file = item.getAsFile();
                        $scope.tipoimg = file.type;
                        $scope.reader.readAsDataURL(file);
                    }
                }
            }

        });

    </script>

    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script>
        $('#deteccao-id').datepicker({ format: 'dd/mm/yyyy', language: "pt-BR" });
        
    </script>

</body>

</html>